In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({'Country': 'Bolivia Kenya Ukraine US Bolivia Kenya Ukraine US Bolivia Kenya Ukraine US'.split(),
                   'Series': 'Pop Pop Pop Pop GDP GDP GDP GDP McDonalds Schools Cars Tshirts'.split()})

In [3]:
print(df.shape)
df.head(10)

(12, 2)

   Country     Series
0  Bolivia        Pop
1    Kenya        Pop
2  Ukraine        Pop
3       US        Pop
4  Bolivia        GDP
5    Kenya        GDP
6  Ukraine        GDP
7       US        GDP
8  Bolivia  McDonalds
9    Kenya    Schools

In [4]:
# Group values for Series and add 'cnt' column with count
df['cnt'] = df.groupby(['Series'])['Country'].transform('count')
print(df.shape)
df.head(10)

(12, 3)

   Country     Series  cnt
0  Bolivia        Pop    4
1    Kenya        Pop    4
2  Ukraine        Pop    4
3       US        Pop    4
4  Bolivia        GDP    4
5    Kenya        GDP    4
6  Ukraine        GDP    4
7       US        GDP    4
8  Bolivia  McDonalds    1
9    Kenya    Schools    1

In [5]:
# # In [136]:
# counts = df['positions'].value_counts()
# counts

# Out[136]:
# # 1    4
# 3    2
# 2    1
# dtype: int64

# In [137]:
# counts[counts > 3]

# Out[137]:
# 1    4
# dtype: int64

# In [135]:
# df[df['positions'].isin(counts[counts > 3].index)]

# Out[135]:
#    r vals  positions
# 0     1.2          1
# 2     2.3          1
# 3     1.8          1
# 6     1.9          1

In [6]:
data1 = './data_powerlifting/openpowerlifting.csv'
data2 = './data_powerlifting/meets.csv'
powerlift = pd.read_table(data1, sep=',')
meets = pd.read_table(data2, sep=',')
powerlift_meets = pd.merge(powerlift, meets)
power = powerlift_meets

In [7]:
powerlift.rename(str.lower, axis='columns', inplace = True)
powerlift.drop(['squat4kg', 'bench4kg', 'deadlift4kg','meetid','name'], axis=1, inplace=True)
powerlift.head(0)

Empty DataFrame
Columns: [sex, equipment, age, division, bodyweightkg, weightclasskg, bestsquatkg, bestbenchkg, bestdeadliftkg, totalkg, place, wilks]
Index: []

In [8]:
powerlift.shape

(386414, 12)

In [9]:
powerlift.division.value_counts();

In [10]:
counts = powerlift['division'].value_counts()
counts.head()

Open            68618
Boys            59641
R-O             28667
Amateur Open     9396
R-JR             7849
Name: division, dtype: int64

In [11]:
counts[counts > 3]

newdf = powerlift[powerlift['division'].isin(counts[counts > 1000].index)]

In [15]:
newdf.division.sort_values();